<section class="col">
  <div class="card my-4 bg-dark">
    <a href="/api/post/{{id}}">
      <header class="ps-4 card-header bg-success">Post:
        {{title}}
        by
        {{user.username}}
        on
        {{format_date createdAt}}</header>
      <p class="ps-4 card-body">{{body}}</p>
    </a>
  </div>
</section>