<section class="container">
  <h2 class="header text-center">Post</h2>
  <section class="flex-row justify-center">
    <section class="col">
  <div class="card my-4 bg-dark">
      <header class="ps-4 card-header bg-success">Post: {{title}} by {{user.username}} on {{format_date createdAt}}</header>
      <p class="ps-4 card-body">{{body}}</p>
  </div>
  <h3 class="text-center">Comments</h3>
  {{#if comments}}
    {{#each comments}}
    {{> comment-details}}
    {{/each}}
  {{else}}
  <div class="mt-5 mb-5">
    <h3 class="text-center">No comments yet..be the first to say something!</h3>
  </div>
  {{/if}}
  <h3 class="text-center">Leave a Comment</h3>
  {{#if loggedIn}}
   {{> leave-comment}}
   <script src="/js/comment.js"></script>
  {{else}}
  {{> signupToComment}}
  {{/if}}
</section>
  </section>
</section>